[submodule "anchor-leverage"]
	path = anchor-leverage
	url = https://github.com/sacredwx/anchor-leverage
[submodule "astroport-core_factory"]
	path = astroport-core_factory
	url = https://github.com/astroport-fi/astroport-core
[submodule "astroport-core_pairstable"]
	path = astroport-core_pairstable
	url = https://github.com/astroport-fi/astroport-core
[submodule "cw20-base"]
	path = cw20-base
	url = https://github.com/CosmWasm/cw-plus
[submodule "cw721-base"]
	path = cw721-base
	url = https://github.com/CosmWasm/cw-plus
[submodule "cw721-metadata-uri"]
	path = cw721-metadata-uri
	url = https://github.com/CosmWasm/cw-plus
[submodule "johnjchang_counter"]
	path = johnjchang_counter
	url = https://github.com/johnjchang/smart-contract-webapp-template
[submodule "nebula-incentives"]
	path = nebula-incentives
	url = https://github.com/nebula-protocol/nebula-contracts
[submodule "query-contract"]
	path = query-contract
	url = https://github.com/moonmidas/query-contract
[submodule "spacecamp-2021-workshop"]
	path = spacecamp-2021-workshop
	url = https://github.com/larry0x/spacecamp-2021-workshop
[submodule "Terra-Native-Token-Staking"]
	path = Terra-Native-Token-Staking
	url = https://github.com/whymidnight/Terra-Native-Token-Staking
[submodule "steak-contracts_hub"]
	path = steak-contracts_hub
	url = https://github.com/st4k3h0us3/steak-contracts
[submodule "white-whale_peg-arb"]
	path = white-whale_peg-arb
	url = https://github.com/White-Whale-Defi-Platform/contracts
